$MMBlack: #000;
$MMWhite: #fff;
$MMBg:#efefef;
$fontSize: 16px;
$Botbutton:#13e1d4;
$topbutton: #00dfd4;
$boldtext: #092033;
$bordertop: #0d1c29;
$Facts: #cbd2d8;
$MMfont: #62676b;
$Fotter: #092133;
$fontFam2: Arial, Helvetica, sans-serif;
$Primary: #00DFD4;
$PrimHover: #009E97;
$Secondary: #092033;
$SecHover: #343E45;